@{
}

<h2>You need to authenticate first</h2>
<p>In order to accept an invitation to join a club, you need to log in first. You can also register if you don't have an account yet.</p>
<p>Please make sure you use the same email address where you received the invitation to log in</p>