@{
}

<h2>You need to log in first</h2>
<p>In order to accept an invitation to join a business, you need to <a href="javascript:$('#login-link').dropdown('toggle')">log in</a> first. You can also <a href="javascript:$('#register-link').dropdown('toggle')">register</a> if you don't have an account yet.</p>
<p><i>Please make sure you use the same em@il address where you received the invitation.</i></p>