################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
bin
obj
/Code/packages
/AppSettingsSecrets.config
/Code/MyVipCity/Logs
/Code/MyVipCity/node_modules
/Code/Logs
/Code/.vs/config/applicationhost.config
/Code/MyVipCity/Properties/PublishProfiles
/Code/AppSettingsSecrets.config
