@{
}

<h2>You need to log in first</h2>
<p>Please <a href="javascript:$('#login-link').dropdown('toggle')">log in</a>. You can also <a href="javascript:$('#register-link').dropdown('toggle')">register</a> if you don't have an account yet.</p>
@if (!string.IsNullOrWhiteSpace(ViewBag.CustomMessage)) {
    <p><i>@ViewBag.CustomMessage</i></p>
}
