@using MyVipCity.Models

<div ng-controller="vip.registerFormController">
    @using (Html.BeginForm("Register", "Account", new RouteValueDictionary { { "ReturnUrl", ViewBag.ReturnUrl } }, FormMethod.Post, new Dictionary<string, object> { { "class", "stop-propagate" }, { "name", "registerForm" }, { "ng-submit", "submitRegister($event)" } })) {
        <div class="vip-mvc-antiforgery-token" ng-model="registerModel.__RequestVerificationToken">
            @Html.AntiForgeryToken()
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" name="Email" ng-model="registerModel.Email" required>
            <i class="form-group__bar"></i>
            <div ng-messages="registerForm.Email.$error" ng-show="registerForm.Email.$touched" class="mdc-text-red-500 animated fadeIn">
                <div ng-message="required"><small class="pull-right">Email is required</small></div>
                <div ng-message="email"><small class="pull-right">Invalid email</small></div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="Password" ng-model="registerModel.Password" required>
            <i class="form-group__bar"></i>
            <div ng-messages="registerForm.Password.$error" ng-show="registerForm.Password.$touched" class="mdc-text-red-500 animated fadeIn">
                <div ng-message="required"><small class="pull-right">Password is required</small></div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" ng-model="registerModel.ConfirmPassword" ng-required="registerModel.Password" vip-match="registerModel.Password">
            <i class="form-group__bar"></i>
            <div ng-messages="registerForm.ConfirmPassword.$error" ng-show="registerForm.ConfirmPassword.$touched" class="mdc-text-red-500 animated fadeIn">
                <div ng-message="required"><small class="pull-right">Please confirm the password</small></div>
                <div ng-message="vipMatch"><small class="pull-right">Passwords do not match</small></div>
            </div>
        </div>
        <p>
            <small>By Signing up with MyVIPCity, you're agreeing to our <a href="">terms and conditions</a>.</small>
        </p>
        <button class="btn btn-primary btn-block m-t-10 m-b-10" type="submit" ng-disabled="registerForm.$invalid">Register</button>
        <div class="mdc-text-red-500 animated bounce" ng-if="serverError">
            <small>{{serverError}}</small>
        </div>

        <div class="text-center">
            <small><a href="">Are you a Promoter?</a></small>
        </div>
    }
</div>
@Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })