@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a href="javascript:$('#login-link').dropdown('toggle')">click here to login</a> now.
    </p>
</div>
