@using System.Web.Mvc.Html
@using SendGrid.Helpers.Mail
@model MyVipCity.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    var email = Model != null && Model.Email != null ? Model.Email : "";
}

<header class="section__title">
    <h3>Reset your password</h3>
</header>

<div class="card">
    <div class="card__body">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "resetPasswordForm" })) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)


            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="Email" ng-model="Email" ng-init="Email='@email'" required/>
                <i class="form-group__bar"></i>
                <div ng-messages="resetPasswordForm.Email.$error" ng-show="resetPasswordForm.Email.$touched" class="mdc-text-red-500 animated fadeIn">
                    <div ng-message="required">
                        <small class="pull-right">Email is required</small>
                    </div>
                    <div ng-message="email">
                        <small class="pull-right">Invalid email</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="Password" ng-model="Password" required/>
                <i class="form-group__bar"></i>
                <div ng-messages="resetPasswordForm.Password.$error" ng-show="resetPasswordForm.Password.$touched" class="mdc-text-red-500 animated fadeIn">
                    <div ng-message="required">
                        <small class="pull-right">Password is required</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" ng-model="ConfirmPassword" ng-required="Password" vip-match="Password"/>
                <i class="form-group__bar"></i>
                <div ng-messages="resetPasswordForm.ConfirmPassword.$error" ng-show="resetPasswordForm.ConfirmPassword.$touched" class="mdc-text-red-500 animated fadeIn">
                    <div ng-message="required"><small class="pull-right">Please confirm the password</small></div>
                    <div ng-message="vipMatch"><small class="pull-right">Passwords do not match</small></div>
                </div>
            </div>
            <button class="btn btn-primary btn-block m-t-10 m-b-10" type="submit" ng-disabled="resetPasswordForm.$invalid">Reset</button>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }
    </div>
</div>