@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset.  Please <a href="javascript:$('#login-link').dropdown('toggle')">click here to login</a>
    </p>
</div>
