@import '../../Scripts/vendors/bower_components/material-design-color-palette/less/material-design-color-palette';
@import 'inc/variables.less';

.inline-block {
    display: inline-block;
}

.vip-business-info {
    .vip-business-info__list {
        div[vip-textbox], div[vip-checkbox], div[vip-time-picker] {
            .inline-block
        }

        div[vip-time-picker] {
            input.ui-timepicker-input {
                width: 70px;
            }
        }

        div[vip-day-hours] {
            .vip-day-hours__read-mode-container {
                margin-bottom: 3px;
            }
        }

        span.vip-business-info__list-hours-label {
            width: 50px;
        }
    }

    .vip-address-info > span:first-child {
        display: inline-block;
        font-weight: 500;
        color: #2e353b;
        width: 110px;
    }
}

.detail-amenities__list {
    li {
        margin-right: 4px;
    }
}

.vip-day-hours__day {
    font-weight: bold;
    margin-right: 5px;
}

.vip-day-hours__closed {
    margin-right: 5px;
}

.vip-image-preview {

    li {
        .inline-block;
        padding-right: 1px;
        padding-bottom: 1px;
    }

    .vip-image-preview__img-list {
        padding-top: 35px;
        list-style: none;
    }

    .vip-image-preview__img {
        max-width: 300px;
        height: 220px;
        border: 1px solid #616161;
        border-radius: 2px;
    }

    .vip-image-preview__remove-img {
        &:hover {
            opacity: 0.9;
        }

        i {
            cursor: pointer;

            &:hover {
                transition: 0.4s;
                transform: rotate(90deg);
            }
        }

        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        text-align: right;
        font-size: x-large;
        padding-right: 8px;
        color: white;
        background-color: @mdc-grey-900;
        opacity: 0.7;
        position: relative;
        margin-bottom: -34px;
    }
}

.vip-light-gallery {
    cursor: pointer;
    max-height: 600px;

    img {
        max-height: 100%;
        max-width: 100%;
        object-fit: fill;
        margin: auto;
        display: block;
    }
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;

    .dz-default.dz-message {
        font-size: x-large;
        font-weight: 400;
    }
}

div[vip-address] {
    .vip-map {
        height: 360px;
        width: 100%;
    }

    div[vip-textbox] {
        padding-right: 3px;
    }
}
