<header class="section__title">
    <h2>Welcome to MyVIPCity</h2>
    <small>Site under construction, check back soon!</small>
</header>
@*<object type="image/svg+xml" data="~/Content/img/skyline.svg"></object>*@

