@using MyVipCity.IpGeolocation
@model IpLocation
@{
    Layout = null;
}

@*<header class="section__title">
        @if (Request.IsAuthenticated) {
            <h2>Hello @User.Identity.GetUserName()</h2>
        }
        <h2>Welcome to MyVIPCity</h2>
        <small>Site under construction, check back soon!</small>
        <div style="white-space: pre-wrap">@Model.ToString()</div>

    </header>*@
<div ng-controller="vip.homeController">

    <div class="header__search container">
        <form>
            <div class="search">
                <div class="search__body">
                    <input ng-model="searchText" ng-change="criteriaChanged()" type="search" class="search__input" placeholder="Enter Name, Address, City, or Zip Code">
                    <button class="btn btn-primary" ng-click="search()" ng-disabled="!searchText || loading">Search</button>
                </div>
            </div>
        </form>
    </div>

    <!--Loading Indicator-->
    <div style="margin: auto; position: fixed; top: 50%; left: 50%; z-index: 100;" class="vip-loader" ng-class="{'ng-hide': !loading} "></div>

    <div class="header__recommended">
        <div class="my-location">
            <div class="my-location__title" ng-show="locationString && !searchText">Nearby your location <span><i class="zmdi zmdi-pin"></i> {{locationString}}</span></div>
        </div>
        <div class="listings-grid vip-home-search-result-container">
            <div class="listings-grid__item vip-home-search-result-item" ng-repeat="business in businesses track by business.Id" style="display: inline-block;">
                <a href="#/view-business/{{::business.FriendlyId}}">
                    <div class="listings-grid__main">
                        <img ng-src="{{::business.firstPictureUrl}}" alt="{{::business.Name}}">
                    </div>
                    <div class="listings-grid__body">
                        <h5 md-highlight-text="searchText" md-highlight-flags="gi">{{::business.Name}}</h5>
                        <small md-highlight-text="searchText" md-highlight-flags="gi" title="{{::business.Address.FormattedAddress}}">{{::business.Address.FormattedAddress}}</small>
                        <span><i class="zmdi zmdi-pin"></i> {{business.distanceToReferencePoint * 0.000621371 | number:2}} miles</span>
                        @*<h5>{{::business.Phrase}}</h5>*@
                    </div>
                </a>
            </div>
        </div>
        <div class="load-more" ng-show="businesses.length">
            <a href="" ng-click="search(true)" ng-disabled="loading"><i class="zmdi zmdi-refresh-alt"></i> Load more</a>
        </div>
    </div>

    <ul>
        <li ng-repeat="club in clubs">
            <a href="#/view-business/{{club.FriendlyId}}">{{club.Name}}</a>
        </li>
    </ul>
</div>
@*<object type="image/svg+xml" data="~/Content/img/skyline.svg"></object>*@

