@{
    Layout = null;
}
@using Microsoft.AspNet.Identity
@using MyVipCity.Utils.Extensions
<header class="section__title">
    @if (Request.IsAuthenticated) {
        <h2>Hello @User.Identity.GetUserName()</h2>
    }
    <div>Ip: @Request.GetIpAddress();</div>

    <h2>Welcome to MyVIPCity</h2>
    <small>Site under construction, check back soon!</small>
</header>


<div ng-controller="vip.clubListController">
    <ul>
        <li ng-repeat="club in clubs">
            <a href="#/view-business/{{club.FriendlyId}}">{{club.Name}}</a>
        </li>
    </ul>
</div>
@*<object type="image/svg+xml" data="~/Content/img/skyline.svg"></object>*@

